---
import BaseHead from '../components/BaseHead.astro';
import IconButton from '../components/IconButton.astro';
import SectionTitle from '../components/SectionTitle.astro';
import Spacer from '../components/Spacer.astro';
import WorkExperienceItem from '../components/WorkExperienceItem.astro';
import EducationItem from '../components/EducationItem.astro';
import CourseItem from '../components/CourseItem.astro';
import LanguageItem from '../components/LanguageItem.astro';
import { Languages, Linkedin, Phone, Mail, Printer } from 'lucide-astro';
import { SITE_TITLE, SITE_DESCRIPTION, ui } from '../consts';
import { WORK_EXP, EDUCATION, COURSES, LANGUAGES } from '../data/index';

export async function getStaticPaths() {
  return ['en', 'it'].map(lang => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = ui[lang as 'en' | 'it'];

const translatedWorkExp = WORK_EXP.map(exp => ({
  ...exp,
  location: t[exp.location],
  title: t[exp.title],
  description: t[exp.description]
}));

const translatedEducation = EDUCATION.map(edu => ({
  ...edu,
  title: t[edu.title] ?? edu.title
}));

const translatedCourses = COURSES.map(course => ({
  ...course,
  title: course.title
}));

const translatedLanguages = LANGUAGES.map(lang => ({
  name: t[lang.name],
  level: t[lang.level]
}));

const contactItems = [
  { href: 'mailto:nasir.taov@gmail.com', icon: Mail, label: 'mail: nasir.taov@gmail.com' },
  { href: 'tel:+393281934728', icon: Phone, label: 'phone: +39 328 1934728' },
];
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="p-6 max-w-3xl mx-auto text-sm">
      <div class="flex items-center justify-between">
        <div class="pr-4">
          <h1 class="font-bold text-3xl">Nasir Taov</h1>
          <div />
          <span class="text-md text-muted">Full Stack Node.js Developer</span>
          <Spacer size="sm" />
					<div class="hidden print:block py-2" />
          <ul class="contact-means flex gap-2 print:flex-col">
            {contactItems.map(item => (
              <li>
								<IconButton {...item}><item.icon size={18} /></IconButton>
              </li>
            ))}
            <li class="print:hidden">
							<IconButton target="_blank" href="https://www.linkedin.com/in/nasir-taov"><Linkedin size={18} /></IconButton>
            </li>
						<li class="hidden print:block">
							<div class="text-muted">LinkedIn: www.linkedin.com/in/nasir-taov</div>
						</li>
            <li class="print:hidden">
              <IconButton onclick="window.print()" title="Press to print"><Printer size={18} /></IconButton>
            </li>
          </ul>
        </div>
        <div class="overflow-hidden rounded-lg">
          <img class="max-w-none w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28" src="../self_2.jpeg" />
        </div>
      </div>
      <Spacer size="sm" />
      <div class="flex items-center print:hidden">
        <div class="flex items-center justify-center"><Languages size={12} /></div>
        <ul class="flex divide-x text-sm text-muted">
          {['en', 'it'].map((l) => (
            <li>
              <a class="p-2" href={`/${l}`}>{l.toUpperCase()}</a>
            </li>
          ))}
        </ul>
      </div>
      <Spacer />
      <SectionTitle text={t['about.title']} />
      <span class="text-muted font-mono whitespace-break-spaces">{t['about.content']}</span>
      <Spacer />
      <SectionTitle text={t['work.title']} />
      <ul class="w-full">
        {translatedWorkExp.map(exp =>
          <WorkExperienceItem
            title={exp.title}
            company={exp.company}
            location={exp.location}
            dates={exp.dates}
            description={exp.description}
            tags={exp.tags}
          />
        )}
      </ul>
      <Spacer />
      <SectionTitle text={t['education.title']} />
      <div class="flex justify-between">
        <ul class="w-full">
          {translatedEducation.map(edu =>
            <EducationItem
              title={edu.title}
              location={edu.location}
              dates={edu.dates}
              summary={edu.summary}
            />
          )}
        </ul>
      </div>
      <Spacer />
      <SectionTitle text={t['courses.title']} />
      <div class="flex justify-between">
        <ul class="w-full">
          {translatedCourses.map(course =>
            <CourseItem
              title={course.title}
              provider={course.provider}
              dates={course.dates}
              summary={course.summary}
            />
          )}
        </ul>
      </div>
      <Spacer />
      <SectionTitle text={t['langs.title']} />
      <div class="flex justify-between">
        <ul class="w-full divide-y divide-gray-100">
          {translatedLanguages.map(lang =>
            <LanguageItem name={lang.name} level={lang.level} />
          )}
        </ul>
      </div>
      <Spacer />
    </main>
  </body>
</html>
