---
import BaseHead from '../components/BaseHead.astro';
import {Linkedin, Phone, Mail, Printer} from "lucide-astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const ABOUT_ME = `

`
const WORK_EXP = [
	{
		company: "Raintonic",
		location: "Padova (PD)",
		title: "Full-stack Developer",
		description: `Worked on ERP systems for large enterprise clients with Node and Python.
Currently responsible for upgrading the FE for ATMs in Europe for a leading Italian bank.
Helped with build processes and containerizing our apps and SysAdmin tasks and set up Jenkins CI/CD pipelines`,
		dates: "2022 - present",
		tags: ['angular', 'react', 'nestjs', 'deno', 'node']
	},
	{
		company: "Cortek",
		location: "Perugia (PG)",
		title: "Full-stack Developer",
		description: `I played a pivotal role in orchestrating e-commerce infrastructure, primarily leveraging the Shopify platform. Additionally, I spearheaded content creation for e-commerce platforms and expanded sales channels to include platforms such as Amazon and Meta. My contributions directly contributed to the growth and success of the company's online presence.`,
		dates: "2021 - 2022",
		tags: ['node', 'nextjs', 'react', 'nosql']
	},
	{
		company: "Brunello Cucinelli",
		location: "Solomeo (PG)",
		title: "Boutique Coordinator",
		description: `During my tenure at Brunello Cucinelli, I excelled in various roles, primarily as a Boutique Coordinator. In this capacity, I provided guided tours of the company's production facilities to high profile international clients (Forbes 100) in Italian, English, Russian and French. Additionally, I specialized in Made to Measure services and offered comprehensive customer consultation and service throughout the sales process. I was proficient in utilizing AS400/Salesforce systems. Furthermore, I implemented visual merchandising guidelines for window displays and shelves and managed restocking activities, participating in order processing during sales campaigns in collaboration with the Store Manager.`,
		dates: "2017 - 2021",
		tags: ['sales', 'pr', 'management', 'vm']
	}
]

const EDUCATION = [
	{
		location: "Duke University",
		title: 'Rust fundamentals',
		dates: '2024'
	},
	{
		location: 'IULM University - Milan',
		title: "Bachelor's Degree in Linguistic Mediation",
		dates: '2014'
	}
]

const LANGUAGES = [
	{
		name: "English",
		level: "Very Fluent"
	},
	{
		name: "Russian",
		level: "Bilingual"
	},
	{
		name: "Italian",
		level: "Bilingual"
	},
	{
		name: "French",
		level: "Fluent"
	}
]
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="p-6 max-w-3xl mx-auto text-sm">
			<div class="flex items-center justify-between">
				<div class="pr-4">
					<h1 class="font-bold text-3xl">Nasir Taov</h1>
					<div class="" />
					<p class="text-md text-muted"> Full-stack Node.js Developer </p>
					<div class="py-2" />
					<ul class="contact-means flex gap-2 print:flex-col">
						<li>
							<a href="mailto:nasir.taov@gmail.com">
								<div class="print:hidden text-primary p-2 border rounded-md hover:bg-gray-100 hover:text-gray-800 transition">
									<Mail size={18} />
								</div>
								<div class="hidden print:block text-muted">mail: nasir.taov@gmail.com</div>
							</a>
						</li>
						<li>
							<a href="tel:+393281934728">
								<div class="print:hidden text-primary p-2 border rounded-md hover:bg-gray-100 hover:text-gray-800 transition">
									<Phone size={18} />
								</div>
								<div class="hidden print:block text-muted">phone: +39 328 1934728</div>
							</a>
						</li>
						<li>
							<a class="print:hidden" href="https://www.linkedin.com/in/nasir-taov" target="_blank">
								<div class="text-primary p-2 border rounded-md hover:bg-gray-100 hover:text-gray-800 transition">
									<Linkedin size={18} />
								</div>
							</a>
						</li>
						<li>
							<a title="Press to print" class="print:hidden cursor-pointer" onclick="window.print()" target="_blank">
								<div class="text-primary p-2 border rounded-md hover:bg-gray-100 hover:text-gray-800 transition">
									<Printer size={18} />
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="overflow-hidden rounded-lg">
					<img class="max-w-none w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28" src="self.jpeg" />
				</div>
			</div>
			<div class="py-4" />
			<h2 class="font-bold text-2xl">About</h2>
			<div class="py-2" />
			<p class="text-muted font-mono">
				Dynamic Full Stack Developer familiar with the <b>Node</b> and <b>Python</b> ecosystems. Used different stacks professionally, like <b>Angular, React</b> + <b>Nest</b> or <b>HTMX</b> + <b>Django</b>. I have a passion for constantly experimenting and pushing my knowledge further.
				Proven expertise in development for e-commerce platforms, web applications, desktop applications via WebUI, and ERP systems.
				I do enjoy dabbling with Go and Rust for my side projects as well. Proficient <b>Linux</b> and <b>NVIM</b> user. Passionate about open-source.
			</p>
			<div class="py-4" />
			<h1 class="font-bold text-2xl">Work Experience</h1>
			<div class="py-2" />
			<ul class='w-full'>
				{WORK_EXP.map((exp) => 
					<li >
						<div class="flex justify-between">
							<div class="flex flex-col w-full">
								<div class="flex items-center flex-wrap justify-between">
									<h3 class="font-bold text-lg w-full sm:w-auto"> {exp.title} </h3>
									<div class="align-right font-mono">{exp.dates}</div>
								</div>
								<div class="py-1" />
								<div class="flex items-center gap-4">
									<h4 class="text-md ">{exp.company} - {exp.location}</h4>
									<div class="print:hidden hidden sm:flex flex-wrap gap-2">
										{exp.tags?.map(tag => 
											<div class="bg-gray-100 px-2 rounded-lg">
												<code class="text-xs text-muted font-mono">{tag}</code>
										</div>)}
									</div>
								</div>
							</div>
						</div>
						<div class="py-2" />
						<p class="text-muted font-mono">{exp.description}</p>
						<div class="py-2" />
					</li>
				)}
			</ul>
			<div class="py-4" />
			<h2 class="font-bold text-2xl">Education</h2>
			<div class="py-2" />
			<div class="flex justify-between">
				<ul class="w-full">
					{EDUCATION.map((edu) => 
						<li>
							<div class="flex flex-col">
								<div class="flex items-center flex-wrap justify-between">
									<h3 class="font-bold text-lg w-full sm:w-auto">{edu.title}</h3>
									<div class="font-mono">{edu.dates}</div>
								</div>
								<div class="py-1" />
								<h4 class="text-md">{edu.location}</h4>
							</div>
							<div class="py-2" />
						</li>
					)}
				</ul>
			</div>
			<div class="py-4" />
			<h2 class="font-bold text-2xl">Languages</h2>
			<div class="py-2" />
			<div class="flex justify-between">
					<ul class="w-full divide-y divide-gray-200">
						{LANGUAGES.map((lang) => 
							<li class="grid grid-cols-2 py-2">
								<p><b>{lang.name}</b>: </p><p class="text-muted">{lang.level}</p>
							</li>
						)}
					</ul>
			</div>
			<div class="py-4" />
		</main>
	</body>
</html>
