---
interface Props {
  title: string;
  location: string;
  dates: string;
  summary?: string;
  score?: string;
}

const { title, location, dates, summary, score} = Astro.props;
---

<li class="mb-3 print:mb-1" itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
  <div class="flex flex-col sm:flex-row sm:justify-between sm:items-baseline gap-0.5">
    <h3 class="font-bold text-lg print:text-sm" itemprop="credentialCategory">{title}</h3>
    <time class="text-muted font-mono text-sm print:text-xs">{dates}</time>
  </div>
  <p class="text-sm print:text-xs text-muted" itemprop="recognizedBy">{location}</p>
  <p class="text-sm print:text-xs text-muted">{score}</p>
  {summary && <p class="text-muted text-sm print:text-xs mt-1">{summary}</p>}
</li>
